body{
    font-family: 'Roboto', sans-serif;
}

main{
    height: calc(100vh - 76px); /* navbar offset */
}

/* left bar */
aside{
    background-color: #051E34;
    min-width: 68px;
    background-image: url(./img/sidebar-bg.png);
    background-size: cover;
    background-position: 30%;
}

/* mobile logo sizing */
.my_brand{
    max-height: 46px;
}

/* breadcrumb divider in top bar */
.my_bc_divider{
    --bs-breadcrumb-divider: "\00BB";
    --bs-secondary-color: white;
}

.my_breadcrumb_fs{
    font-size: 14px;
}

/* button and badge sizing in main table */
.my_badge{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.offcanvas_size{
    --bs-offcanvas-width: 100%;
}

/* custom colors */
.my_page_bg{
    background-color: #F8F9FA;
}

.my_search_bg{
    background-color: #E5E5E5;
}

.my_yellow{
    color: #FF8F00;
}

.my_blue_bg{
    background-color: #1B72E8;
}

.my_dark_bg{
    backdrop-filter: brightness(75%);
}

.my_head_bg{
    background-color: #F7F7F7;
}

.my_orange_bg{
    background-color: #F26551;
}

.my_btn_bg {
    background-color: rgba(255, 255, 255, 0.0);
}

.my_btn_bg:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
/* end custom colors */

/* media query */
@media screen and (min-width: 992px){
    aside{
        width: 150px;
    }

    .offcanvas_size{
        --bs-offcanvas-width: 40%;
    }
}