main{
    background-color: pink;
    height: calc(100vh - 76px); /* navbar offset */
    /* test */
}

aside, main > div{
    /* height: 100%; */
    /* test */
}

aside{
    background-color: #051E34;
    min-width: 68px;
    background-image: url(./img/sidebar-bg.png);
    background-size: cover;
    background-position: 30%;
    /* test */
}

aside button{
    background-color: #051E34;
}

aside button:hover{
    background-color: red;
}

main > div{
    /* background-color: blueviolet; */
    /* test */
}


.test{
    background-color: greenyellow;
    border: 1px dashed red;
    /* height: 150px; */
    /* test */
}
/* test */

body{
    font-family: 'Roboto', sans-serif;
}

/* custom colors */
.my_page_bg{
    background-color: #F8F9FA;
}

.my_search_bg{
    background-color: #E5E5E5;
}

.my_yellow{
    color: #FF8F00;
}

.my_blue_bg{
    background-color: #1B72E8;
}

.my_dark_bg{
    backdrop-filter: brightness(75%);
}

.my_head_bg{
    background-color: #F7F7F7;
}

.my_orange_bg{
    background-color: #F26551;
}

/* end custom colors */

.my_brand{
    max-height: 46px;
}

.my_bc_divider{
    --bs-breadcrumb-divider: "\00BB";
    --bs-secondary-color: white;
}

.my_breadcrumb_fs{
    font-size: 14px;
}

.my_badge{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.offcanvas_size_xl{
    --bs-offcanvas-width: 40%;
}

/* media query */
@media screen and (min-width: 992px){
    aside{
        width: 150px;
    }
}

